@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

body {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;

    padding: 10px;
}

.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-gap: 10px;

    grid-template: 10% 50% 30% 10% / 10% 30% 30% 30%;
    grid-template-areas: "h h h" "as ar ar" "as s s" "f f f";
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 10px;

    grid-area: h;
    background-color: lightgreen;
}

header div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85.7%;
}

header div nav {
    background-color: black;
    height: 40px;
    width: 100%;
}

aside {
    grid-area: as;
    background-color: rgb(2, 6, 223);
}

article {
    grid-area: ar;
    background-color: sandybrown;
}

section {
    grid-area: s;
    background-color: aliceblue;
}

footer {
    grid-area: f;
    background-color: lightcoral;
}

nav {
    grid-area: n;
    background-color: black;
}